/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
} */

h1 {
    font-family: "Elephant";
    font-size: 2em;
    color: white;
    background-color: #F4DBC2;
    padding: 40px;
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: white;
}

h1 a:hover {
    color: #fdfdf2;
}

.username {
    text-decoration: none;
    float: right;
    margin-top: -70px;
    margin-right: 10px;
    font-size: medium;
}

.username a {
    text-decoration: none;
    color: white;
}